* {
    box-sizing: border-box;
}
section#ofertas{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
article.item-oferta {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    width: fit-content;
}
.item-oferta h3 {
    order: -2;
}
.item-oferta img {
    order: -1;
    flex: 50%;
    height: auto;
    border-radius: 5px;
}
.item-oferta button {
    margin: 0;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: #f00;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}
@media all and (min-width: 1000px) {
    section#ofertas{
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .item-oferta {
        width: 25%;
    }
}