* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

nav {
    background-color: #bdcecf;
    padding: 2px;
    border-radius: 15px;
}

nav>ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 10px;
}
nav>ul>li {
    border-right: 1px solid #000;
}
nav>ul>li>a {
    text-decoration: none;
    color: #14127a;
    border-bottom: rgb(179, 179, 179) 2px solid;
    border-radius: 7px;
    flex: 0;margin: 5px;
}
nav>ul>li:nth-child(3) {
    flex: 100%;
    border: none;
}
nav>ul>li:last-child {
    border: none;
}