*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
div#content {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}
header {
    flex: 0;
}
header>h1 {
    font-size: 2rem;
}
main {
    flex: 1;
}
main>form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
main>form>* {
    flex: 100%;
    margin: 2%;
    font-size: xx-large;
}