* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #d8d0d0;
}

div.formulario {
    max-width: 60%;
    background-color: white;
    padding: 15px;
    margin: 0;
}

div.formulario>form {
    display: flex;
    flex-flow: column;
}

div.formulario>form>* {
    margin: 10px;
    flex: 1 1 100%;
}

div.formulario>form a {
    text-decoration: none;
    color: #242321;
}

div.formulario>form>input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-weight: bold;

}

div.formulario>form>input:focus {
    outline: none;
    border-bottom: 1px solid #242321;
}

div.formulario>form>input[type="submit"] {
    background-color: #242321;
    color: #9e8b77;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}