h1 {
    text-align: center;
}
section {
    display: flex;
    flex-flow: column nowrap;
}

article {
    margin: 1rem;
    display: flex;
    flex-flow: column;
}

article img{
    width: 100%;
    height: auto;
}

@media all and (min-width: 768px) {
    section {
        flex-flow: row;
    }
    article {
        flex: 1;
    }
    article.breaking {
        flex: 2;
    }
}