* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: black;
	background-color: white;
}

header,
footer {
	background-color: #e6e7e8;
	border: 2px solid #3f3f3f;
	border-radius: 5px;

	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}

footer {
	color: #3f3f3f;
	height: 2rem;
}

header img#logo {
	width: 5rem;
	height: 4.35rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bree Serif', serif;
	color: #00acdd;
	text-align: center;
}

header h1 {
	color: #004166;
	font-weight: bold;
}

header h1 span#subject {
	color: #96bc33;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:link {
	color: #00acdd;
}

a:visited {
	color: #ea2126;
}

a:hover {
	cursor: pointer;
	color: #f58a1e;
}

nav ul li {
	list-style-type: none;
}

nav ul {
	padding-left: 0;
}

nav#main-menu {
	background-color: #004166;
	font-weight: bold;
	border: 2px solid #e6e7e8;
	border-radius: 5px;

	color: #fff;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

nav#main-menu span {
	font-size: 3em;
}

nav#main-menu>input[type="checkbox"] {
	display: none;
}

nav#main-menu>input[type="checkbox"]:checked~ul {
	display: block;
}

nav#main-menu ul {
	display: none;
}

main section#principal {
	border: 2px solid #004166;
	border-radius: 5px;
}

main section article.news-art {
	border: 5px solid #e6e7e8;
	border-radius: 0.8rem;
}

div#content main section#principal article#primerElemento {
	background-color: #e6e7e8;
	border-color: #f58a1e;
}

div#content main section article.news-art img {
	width: 20rem;
	height: auto;
}

div#content main section article.news-art p {
	padding: 0 1rem;
}

@media all and (min-width: 600px) {
	article.news-art {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
	}

	article.news-art h3 {
		flex: 2 1 100%;
		text-align: left;
	}

	article.news-art img {
		flex: 1 1 50%;
		max-width: 50%;
	}

	article.news-art p {
		flex: 1 1 50%;
	}
}

@media all and (min-width: 1000px) {
	section {
		display: flex;
		flex-flow: row wrap;
	}
	article.news-art {
		flex: 1 1 50%;
	}
	article#primerElemento {
		flex: 1 1 100%;
	}
	article#primerElemento img{
		max-width: 30%;
	}
	article.news-art p {
		align-self: flex-start;
	}
}